<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>My to-dos</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/lux/bootstrap.min.css" rel="stylesheet"> 
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1 align="center">My To-do List</h1>
        <div class="container">
            <div class="jumbotron">
                <ul>
                <% todolist.forEach(function(todo, index) { %>
                    <li><a href="/todo/delete/<%= index %>">✘</a>
                        <a href="/todo/complete/<%= index %>">୰</a> <%= todo %></li>
                <% }); %>
                </ul>

                <form action="/todo/add/" method="post">
                    <p>
                        <label for="newtodo">What should I do?</label>
                        <input type="text" name="newtodo" id="newtodo" placeholder="Add a to-do" autofocus />
                        <input type="submit" class="btn btn-primary btn-sm"/>
                    </p>
                </form>
            </div>
        </div>
        <div class="container">
            <form action="/todo/add/" method="post">
                <p>
                    <label for="identify">Who are you?</label>
                    <input type="text" name="name" id="name" placeholder="What's your name?" autofocus />
                    <input type="text" name="email" id="email" placeholder="What's your email?" autofocus />
                    <input type="submit" class="btn btn-primary btn-sm"/>
                </p>
            </form>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h3 align="center">Choose your favorite car!</h3>
                <a href="/todo/fav/1/">
                    <img src="http://www.driversmagazine.com/wp-content/uploads/2016/08/Tesla-Model-S-1.jpg" alt="Tesla" style="width:500px;height:300px;">
                </a>
                <a href="/todo/fav/2/">
                    <img src="https://cdn.motor1.com/images/mgl/P6q7L/s1/2020-porsche-taycan-turbo-s.jpg" alt="Porsche" style="width:500px;height:300px;">
                </a>
                <a href="/todo/fav/3/">
                    <img src="https://st.motortrend.com/uploads/sites/10/2015/09/2013-Ferrari-458-Italia-Front-Three-Quarters-View.jpg" alt="Ferrari" style="width:500px;height:300px;">
                </a>
                <a href="/todo/fav/4">
                <img src="https://www.cstatic-images.com/car-pictures/xl/usc90lgc053b01300.png" alt="Lamborghini" style="width:500px;height:300px;">   
                </a>             
            </div>
        </div> 
    </body>
</html>
